html,body *{
	padding:0px;
	margin:0px;
	border:0px;
	z-index:1;
}
html,body{
	height:100%;
	width:100%;
	padding:0px;
	margin:0px;
	border:0px;
}
#main
{
	height:100%;
	width:100%;
	display:flex;
	flex-direction:column;
}
/* header部分开始 */
#header{
	border-bottom:1px solid black;
	z-index:2;
	width:100%;
	display:flex;
	flex-direction:row;
	flex-shrink:0;
	justify-content:space-around;
	align-items:center;
}
#header>*{
	flex-grow:1;
}
.headbutton{
	width:auto;
}
/*更多菜单*/
.more{
	//width:73px;
	height:100%;
	//text-decoration:none;
	color:#000;
	text-align:center;
}
.more:hover{
	color:#FFF;
	background:#333;
}
.more>div{
	position:relative;
	display:none;
	width:100%;
}
.more>div>ul{
	position:absolute;
	width:100%;
}
.more>div>ul>li{
	color:#000;
	background:#EEE;
	position:relative;
	z-index:1000;
}
.more:hover>div{
	display:block;
}
.more>div>ul>li:hover{
	background-color:#06f;
}
/* mangalistbox部分开始 */
#mangalistbox{
	width:100%;
	overflow:scroll;
	display:flex;
	flex-direction:column;
}
.mangabox{
	flex-shrink:0;
	border-bottom:1px solid gray;
	display:flex;
	flex-direction:row;
}
.mangaboxcolumn{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.mangacover{
	width:63px;
	height:84px;
	overflow:none;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	font-size:1vw;
}
.coverimg{
	max-width:95%;
	max-height:95%;
}
.mangabutton{
	border:1px solid gray;
	text-align:center;
	border-radius:5px;
}
/* chapterbox部分开始 */
#chapterbox{
	flex-shrink:0;
	border-bottom:1px solid gray;
}
.chapterlistbox{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:flex-start;
}
.chapterbutton{
	flex-basis:25%;
	color:#fff;
	background-color:#3bb4f2;
	margin:1px 4%;/*上右下左*/
	text-align:center;
}


